* {
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 2rem;
}

#controls {
	position: relative;
}

input {
	margin-bottom: 20px;
}
label {
	font-size: 16px;
	position: absolute;
	top: -4px;
}

#generateBtn {
	position: absolute;
	right: -80px;
	bottom: 20px;
	transition: 1s;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	transition: 1s;
}

#start {
	align-self: flex-start;
}

#end {
	align-self: flex-end;
}

#maze {
	height: 600px;
}

.row {
	display: flex;
}

.col {
	width: 50px;
	border: 4px solid black;
	background-color: blue;
	margin: -2px 0 0 -2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row:first-child .col:first-child {
	border-left: none;
}

.row:last-child .col:last-child {
	border-right: none;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}
